@model Project_Job.Models.CongViec

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
        }

<h2>Details</h2>

<div>
    <h4>CongViec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCongViec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCongViec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MucLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiViec.TenLoaiViec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiViec.TenLoaiViec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaCongViec }) |
    @Html.ActionLink("Back to List", "Index")
</p>
